@charset "utf-8";

/* reset */
html {-webkit-text-size-adjust: none; text-size-adjust: none; scroll-behavior: smooth; }
body {margin: 0;}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p {margin: 0; padding: 0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700;}
a {color: inherit; text-decoration: inherit;}
li {list-style: none;}
img {vertical-align: middle; max-width: 100%;}
address, em, i, cite {font-style: normal;}
table {border-collapse: collapse;}
table caption {overflow: hidden; width: 0; height: 0;}
i[class^="fa"] {position: relative; display: inline-block; vertical-align: middle;}
i[class^="fa"] span {position: absolute; left: -9999px;}
.ir-hidden {position: absolute; left: -9999px;}
.mobile {display: none !important;}
br.only-m {content: '';}
br.only-m::after {content: '\00a0';}


/* common */
body {font-family: 'NotoSansKR', sans-serif; font-size: 14px; color: #333333; background: #ffffff;}
body.no-scroll {height: 100vh; overflow: hidden;}
#wrapper {min-width: 1024px; overflow: hidden;}
#skip-nav {position: fixed; left: 0; top: -40px; width: 100%; line-height: 40px; text-align: center; background-color: rgba(0, 0, 0, 0.7); color: #ffffff; font-size: 16px; transition: top 0.3s; z-index: 10000;}
#skip-nav:focus {top: 0;}

#header {position: fixed; width: 100%; height: 80px; box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2); z-index: 100000; background-color: #ffffff; transition: all 0.5s;}
#header.on {position: fixed; width: 100%; height: 50px; box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2); z-index: 100000; background-color: #ffffff;}
#header.on #nav {position: relative; width: 1200px; height: 80px; top: 0; left: 50%; transform: translate(-50%, 0);}
#header.on #nav ul.gnb {position: absolute; right: 0; top: 15px;}
#header.on div.header-box div.side {display: none;}


#header div.header-box h1 {position: absolute; bottom: 0; left: 10%; display: inline-block; font-size: 24px; font-weight: 600;}
#nav {position: relative; max-width: 1200px; width: 60%; height: 80px; top: 0; left: 50%; transform: translate(-50%, 0);}
#nav ul.gnb {position: absolute; right: 0; bottom: 0; }
#nav ul.gnb li {float: left; font-size: 18px; bottom: 0; font-weight: 400; padding: 5px 10px 0 10px; scroll-behavior:smooth;}
#nav ul.gnb li a {position: relative; width: 100%; height: 100%;}
#nav ul.gnb li:hover {float: left; border-bottom: 5px solid #000000; font-size: 18px; bottom: 0; font-weight: 600;}
#nav ul.gnb li.on {float: left; border-bottom: 5px solid #000000; font-size: 18px; bottom: 0; font-weight: 600; scroll-behavior:smooth;}

#nav ul.gnb li + li {margin-left: 40px;}
#nav ul.gnb li:nth-child(1):hover::before {left: 12%;}
#nav ul.gnb li:nth-child(2):hover::before {left: 43%;}
#nav ul.gnb li:nth-child(3):hover::before {left: 68.5%;}
#nav ul.gnb li:nth-child(4):hover::before {left: 91%;}
#header div.header-box div.side {position: absolute; bottom: 5px; right: 8%; display: none;}
#header div.header-box div.side ul {position: relative; width: 140px; height: 36px; font-size: 22px; border: 1px solid #ffe600; border-radius: 30px; background-color: #ffe600; padding: 1px;}
#header div.header-box div.side ul li {float: left; margin-left: 19px; vertical-align: middle;}


#main {overflow: hidden;}
#main-section {position: relative; top: 80px; width: 100%; height: 100vh;}
#main-section div.typing-txt {display: none;}
#main-section div.typing-txt ul li {font-size: 26px; font-weight: 600;}
#main-section div.typing-txt ul{list-style:none;}
#main-section p.typing {position: relative; left: 50%; top: 40%; transform: translate(-50%, 0); font-size: 36px; font-weight: 600; text-align: center; display: inline-block; animation-name: cursor; animation-duration: 0.3s; animation-iteration-count: infinite;} 

@keyframes cursor{ 
  0%{border-right: 1px solid #fff} 
  50%{border-right: 1px solid #000} 
  100%{border-right: 1px solid #fff} 
}


#main-section ul li span {position: absolute; text-indent: -9999px;}
#main-section ul li span.right01.move01 {top: 0; left: 415px; width: 1px; height: 850px; border-right: 2px solid #000000; animation-name: move01; animation-duration: 4s;}
#main-section ul li span.right02.move02 {top: 0; left: 471px; width: 1px; height: 434px; border-right: 2px solid #000000; animation-name: move02; animation-duration: 5s;}
#main-section ul li span.left01.move03 {bottom: 0px; left: 1446px; width: 1px; height: 750px; border-left: 2px solid #000000; animation-name: move03; animation-duration: 6s;}
#main-section ul li span.left02.move04 {bottom: 0; left: 1505px; width: 1px; height: 750px; border-left: 2px solid #000000; animation-name: move04; animation-duration: 4s;}
#main-section ul li span.top01.move05 {top: 220px; left: 0; width: 1560px; height: 1px; border-bottom: 2px solid #000000; animation-name: move05; animation-duration: 5s;}
#main-section ul li span.top02.move06 {top: 270px; right: 0; width: 1560px; height: 1px; border-bottom: 2px solid #000000; animation-name: move06; animation-duration: 7s;}
#main-section ul li span.bottom01.move07 {top: 650px; right: 0; width: 1560px; height: 1px; border-bottom: 2px solid #000000; animation-name: move07; animation-duration: 4s;}


@-webkit-keyframes move01 {
  0%   {height: 0;}
  100% {height: 830px;}
}

@-webkit-keyframes move02 {
  0%   {height: 0;}
  100% {height: 434px;}
}

@-webkit-keyframes move03 {
  0%   {height: 0;}
  100% {height: 750px;}
}

@-webkit-keyframes move04 {
  0%   {height: 0;}
  100% {height: 750px;}
}

@-webkit-keyframes move05 {
  0%   {width: 0;}
  100% {width: 1560px;}
}

@-webkit-keyframes move06 {
  0%   {width: 0;}
  100% {width: 1560px;}
}

@-webkit-keyframes move07 {
  0%   {width: 0;}
  100% {width: 1560px;}
}


#main-section ul.gnb {position: absolute; top: 610px; width: 770px; height: 50px; left: 50%; transform: translate(-50%, 0);}
#main-section ul.gnb li {float: left; float: left; font-size: 18px; bottom: 0; font-weight: 400; padding: 5px 10px;}
#main-section ul.gnb li:first-child {font-weight: 700;}
#main-section ul.gnb li:first-child::before {position: absolute; top: 0; content: ''; width: 5px; height: 5px; left: 7.5%; border: 1px solid #000000; background-color: #000000; border-radius: 100px;}
#main-section ul.gnb li + li {margin-left: 40px;}


#pf_F {position: relative; top: 0; width: 100%; height: 100vh; padding-top: 150px; background-color: #ffffff;}
#pf_F h2 {position: relative; display: block; top: 0; text-align: center; font-size: 36px;}
#pf_F h3 {position: relative; display: block; top: 0; text-align: center; font-size: 18px; margin-bottom: 60px;}

#pf_F div.box {position: relative; left: 50%; transform: translate(-50%, 0); width: 1200px; height: 565px; border: 2px solid #000;}
#pf_F div.box div.innerbox {position: absolute; top: 0; left: 0; width: 865px; height: 560px; overflow: hidden;}
#pf_F div.box div.innerbox ul.box-img {position: absolute; top: 0; width: 865px; height: 100%;}
#pf_F div.box div.innerbox ul.box-img li {position: absolute; left: 0; top: 0; width: 100%; height: 100%; display: block;}
#pf_F div.box div.innerbox ul.box-img li.on {display: block;}
#pf_F div.box div.innerbox ul.box-img li div.left {position: absolute; width: 100%; height: 100%; left: 0%;}
#pf_F div.box div.innerbox ul.box-img li div.left h4 {position: relative; top: 0; display: block; text-align: center; padding-top: 20px; font-size: 22px;}
#pf_F div.box div.innerbox ul.box-img li div.left img {position: relative; width: 100%; top: 0; left: 0; }

#pf_F div.box div.innerbox.text {position: absolute; top: 0; left: 72%; width: 340px; height: 100%;}
#pf_F div.box div.innerbox ul.box-text {position: absolute; top: 0; width: 340px; height: 100%;}
#pf_F div.box div.innerbox ul.box-text li {position: absolute; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden; display: none;}
#pf_F div.box div.innerbox ul.box-text li.on {position: absolute; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden; display: block;}

#pf_F div.box div.innerbox ul.box-text li div.right {position: absolute; width: 100%; height: 100%; top: 0; left: 0%; display: inline-block; }
#pf_F div.box div.innerbox ul.box-text li div.right h5 {font-size: 22px; padding: 45px 15px 0 15px; }
#pf_F div.box div.innerbox ul.box-text li div.right dl {position: relative; padding: 0 35px; width: 80%; height: 100%; }
#pf_F div.box div.innerbox ul.box-text li div.right dl dt {position: relative; width: 100%; margin: 25px 0 10px 0; font-size: 18px; font-weight: 600;}
#pf_F div.box div.innerbox ul.box-text li div.right dl dt::before {content: '●'; margin-right: 5px; font-size: 12px;}
#pf_F div.box div.innerbox ul.box-text li div.right dl dd {position: relative; width: 100%; margin: 5px 15px; font-size: 15px;}
#pf_F div.box div.innerbox ul.box-text li div.right dl dd em {font-weight: 600;}
#pf_F div.box div.innerbox ul.box-text li div.right dl dd::before {content: '-'; margin-right: 5px;}

#pf_F div.box div.innerbox ul.box-text li div.right p.button {position: absolute; bottom: 65px; left: 50%; transform: translate(-30%, 0); width: 100%; height: 50px; }
#pf_F div.box div.innerbox ul.box-text li div.right p.button a {position: relative; float: left; padding: 5px 10px; box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4); border-radius: 30px;}
#pf_F div.box div.innerbox ul.box-text li div.right p.button a:hover {background-color: #000000; color: #ffffff;}
#pf_F div.box div.innerbox ul.box-text li div.right p.button a + a {margin-left: 15px;}

#pf_F > div > p.control {position: absolute; top: 50%; transform: translate(0, -50%); width: 70%; z-index: 10000; font-size: 24px;}
#pf_F div p.control a {position: absolute; width: 40px; height: 40px; border-radius: 3px; background-color: #ffffff;}
#pf_F div p.control a:hover {position: absolute; width: 40px; height: 40px; border-radius: 3px; background-color: rgba(0, 0, 0, 0.7); color: #ffffff;}
#pf_F div p.control a.prev {left: 20px;}
#pf_F div p.control a.prev i {position: relative; left: 50%; top: 26%; transform: translate(-50%, -50%);}
#pf_F div p.control a.next {right: 0;}
#pf_F div p.control a.next i {position: relative; right: -50%; top: 26%; transform: translate(-50%, -50%);}
#pf_F div div ul.indicator {position: absolute; bottom: 10px; display: block; width: 73%; height: 30px; text-align: center; line-height: 30px;}
#pf_F div div ul.indicator > li {display: inline-block; vertical-align: top;}
#pf_F div div ul.indicator > li + li {margin-left: 8px;}
#pf_F div div ul.indicator > li > a {display: inline-block; width: 10px; height: 10px; border: 2px solid #000000; border-radius: 40px; text-indent: -9999px; overflow: hidden; background-color: #ffffff;}
#pf_F div div ul.indicator > li.on > a {width: 40px; border-color: #000000; background-color: #000000;}


#pf_E {position: relative; top: 0; width: 100%; height: 100vh; padding-top: 150px;}
#pf_E h2 {position: relative; display: block; top: 0; text-align: center; font-size: 36px;}
#pf_E h3 {position: relative; display: block; top: 0; text-align: center; font-size: 18px;margin-bottom: 60px;}


#pf_E div.box {position: relative; left: 50%; transform: translate(-50%, 0); width: 1200px; height: 565px; overflow: hidden; border: 2px solid #000;}
#pf_E div.box div.innerbox {position: absolute; top: 0; right: 0; width: 865px; height: 560px; overflow: hidden;}
#pf_E div.box div.innerbox ul.box-img {position: absolute; top: 0; width: 865px; height: 100%;}
#pf_E div.box div.innerbox ul.box-img li {position: absolute; right: 0; top: 0; width: 100%; height: 100%; display: none;}
#pf_E div.box div.innerbox ul.box-img li.on {position: absolute; right: 0; top: 0; width: 100%; height: 100%; display: block;}
#pf_E div.box div.innerbox ul.box-img li div.right {position: absolute; width: 100%; height: 100%; right: 0%;}
#pf_E div.box div.innerbox ul.box-img li div.right h4 {position: relative; top: 0; display: block; text-align: center; padding-top: 20px; font-size: 22px;}
#pf_E div.box div.innerbox ul.box-img li div.right img {position: relative; width: 100%; top: 0; right: 0;}

#pf_E div.box div.innerbox.text {position: absolute; top: 0; left: 0; width: 340px; height: 100%;}
#pf_E div.box div.innerbox ul.box-text {position: absolute; top: 0; width: 340px; height: 100%;}
#pf_E div.box div.innerbox ul.box-text li {position: absolute; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden; display: none;}
#pf_E div.box div.innerbox ul.box-text li.on {position: absolute; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden; display: block;}

#pf_E div.box div.innerbox ul.box-text li div.left {position: absolute; width: 100%; height: 100%; top: 0; left: 0%; display: inline-block; }
#pf_E div.box div.innerbox ul.box-text li div.left h5 {font-size: 22px; padding: 45px 15px 0 25px; }
#pf_E div.box div.innerbox ul.box-text li div.left dl {position: relative; padding: 0 60px; width: 80%; height: 100%; }
#pf_E div.box div.innerbox ul.box-text li div.left dl dt {position: relative; width: 100%; margin: 25px 0 10px 0; font-size: 18px; font-weight: 600;}
#pf_E div.box div.innerbox ul.box-text li div.left dl dt::before {content: '●'; margin-right: 5px; font-size: 12px;}
#pf_E div.box div.innerbox ul.box-text li div.left dl dd {position: relative; width: 100%; margin: 5px 15px; font-size: 15px;}
#pf_E div.box div.innerbox ul.box-text li div.left dl dd img {width: 30px;}
#pf_E div.box div.innerbox ul.box-text li div.left dl dd em {font-weight: 600;}
#pf_E div.box div.innerbox ul.box-text li div.left dl dd::before {content: '-'; margin-right: 5px;}

#pf_E div.box div.innerbox ul.box-text li div.left p.button {position: absolute; bottom: 65px; left: 50%; transform: translate(-30%, 0); width: 100%; height: 50px; }
#pf_E div.box div.innerbox ul.box-text li div.left p.button a {position: relative; float: left; padding: 5px 10px; box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4); border-radius: 30px;}
#pf_E div.box div.innerbox ul.box-text li div.left p.button a:hover {background-color: #000000; color: #ffffff;}
#pf_E div.box div.innerbox ul.box-text li div.left p.button a + a {margin-left: 15px;}

#pf_E > div > p.control {position: absolute; top: 50%; right: 20px; transform: translate(0, -50%); width: 72%; z-index: 10000; font-size: 24px;}
#pf_E div p.control a {position: absolute; width: 40px; height: 40px; border-radius: 3px; background-color: #ffffff;}
#pf_E div p.control a:hover {position: absolute; width: 40px; height: 40px; border-radius: 3px; background-color: rgba(0, 0, 0, 0.7); color: #ffffff;}
#pf_E div p.control a.prev {left: 20px;}
#pf_E div p.control a.prev i {position: relative; left: 50%; top: 26%; transform: translate(-50%, -50%);}
#pf_E div p.control a.next {right: 0;}
#pf_E div p.control a.next i {position: relative; right: -50%; top: 26%; transform: translate(-50%, -50%);}
#pf_E div div ul.indicator {position: absolute; right: 0; bottom: 10px; display: block; width: 73%; height: 30px; text-align: center; line-height: 30px;}
#pf_E div div ul.indicator > li {display: inline-block; vertical-align: top;}
#pf_E div div ul.indicator > li + li {margin-left: 8px;}
#pf_E div div ul.indicator > li > a {display: inline-block; width: 10px; height: 10px; border: 2px solid #000000; border-radius: 40px; text-indent: -9999px; overflow: hidden; background-color: #ffffff;}
#pf_E div div ul.indicator > li.on > a {width: 40px; border-color: #000000; background-color: #000000;}

*:not(head),
*::before,
*::after {
	box-sizing: border-box;
}

#about {position: relative; top: 0; width: 100%; height: 130vh; 	min-height: 100vh; display: flex; flex-direction: column; align-items: center; justify-content: flex-start; margin: 40px 0px; height: auto; max-width: 1300px; padding: 40px;  background: var(--theme); border-radius: 20px;}
#about h2 {position: relative; display: block; top: 0; text-align: center; font-size: 36px; margin-bottom: 50px; }

#about ul.accordian li dl {padding: 5px 0 5px 10px; font-size: 15px;	font-size: 12pt; line-height: 20pt; margin: 15px 0px;}
#about ul.accordian li dl dt {font-weight: 600; display: inline-block; width: 100%;}
#about ul.accordian li dl dd {position: relative; width: 100%; top: -28px; left: 60px; display: block; padding-left: 15px;}
#about ul.accordian li:nth-child(2) dl dd {position: relative; width: 100%; top: -28px; left: 60px; display: block; padding-left: 105px;}


#about ul.accordian li.software {background: pink; display: inline-block;}
#about ul.accordian li.software div.accordian {}
#about ul.accordian li.software div.accordian div.inner {}
#about ul.accordian li.software div.accordian div.inner ul.slide {}
#about ul.accordian li.software div.accordian div.inner ul.slide li {display: inline-block; }

#about a,
#about a::before,
#about a::after,
#about a:hover::before,
#about a:hover::after,
#about a:hover {text-decoration: none; transition: all 0.3s ease-in-out;
}

#about a:hover {cursor: pointer;}
#about a:active {transform: translateY(3px) scale(0.95); color: inherit; transition: unset !important;}

#about input {display: none;}

#about ul.accordian {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	width: 100%;
	height: auto;
	padding: unset;
}

#about ul.accordian li {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
	margin-bottom: 0px;
	border-bottom: 2px solid white;
	background-size: cover !important;
	background-position: center !important;
	background-repeat: no-repeat !important;
	padding: 20px;
	z-index: 1;
	transition: all 0.7s ease-in-out;
}

#about ul.accordian li:nth-child(1) {
	background: #ffffff;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
	border-radius: 20px 20px 0 0;
}

#about ul.accordian li:nth-child(2) {
	background: #ffffff;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

#about ul.accordian li:nth-child(3) {
	background: #ffffff;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

#about ul.accordian li:nth-child(4) {
	background: #ffffff;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

#about ul.accordian li:nth-child(5) {
	background: #ffffff;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

#about ul.accordian li:nth-child(6) {
	background: #ffffff;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
	border-radius: 0 0 20px 20px;
}

#about ul.accordian li:last-of-type {
	margin-bottom: 0px;
}

#about ul.accordian li::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	content: "";
	backdrop-filter: grayscale(80%);
	transition: all 0.3s ease-in-out;
}

#about ul.accordian li label {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 10;
}

#about ul.accordian li label:hover {
	cursor: pointer;
}

#about ul.accordian li svg {
	position: absolute;
	fill: black;
	width: 40px;
	height: auto;
	top: 45px;
	right: 40px;
	z-index: 9;
	transition: all 0.5s ease-in-out;
}

#about ul.accordian li div {
	position: relative;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 20px;
	border-radius: 20px;
	background: var(--theme);
	backdrop-filter: blur(4px);
	overflow: hidden;
}

#about ul.accordian li div h4 {
	position: relative;
	font-size: 22px;
	line-height: 30px;
	color: #000000;
	margin: 0;
	font-weight: 500;
	white-space: nowrap;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 1;
	transition: all 0.3s ease-in-out;
}

#about ul.accordian li label:hover ~ div h4 {
	padding-left: 30px;
	transition: all 0.2s ease-in-out;
}

#about ul.accordian li {
	--accent: rgba(0, 0, 0, 0.3);
}

#about ul.accordian li div h4::before {
	position: absolute;
	width: 100%;
	height: 8px;
	background: var(--accent);
	margin-right: 800px;
	bottom: 0;
	border-radius: 100%;
	content: "";
	z-index: -1;
	transition: all 0.3s ease-in-out;
}

#about ul.accordian li label:hover ~ div h4::before {
	margin-right: 0;
	transition: all 0.2s ease-in-out;
}

#about ul.accordian li div h4::after {
	position: absolute;
	width: 130%;
	height: 100%;
	content: "";
	background: var(--accent);
	margin-right: 1000px;
	z-index: -2;
	transition: all 0.5s ease-in-out;
}

#about ul.accordian li p {

}

#about ul.accordian li a {
	position: relative;
	background: #ffffff;
	padding: 5px 10px;
	font-size: 12pt;
	margin-bottom: 10px;
	color: black;
	overflow: hidden;
	border-radius: 5px;
	z-index: 1;
}

#about ul.accordian li a::after {
	position: absolute;
	top: 80%;
	right: 110%;
	background: var(--accent);
	width: 100%;
	height: 100%;
	border-radius: 0 5px 0 0;
	z-index: -1;
	content: "";
}

#about ul.accordian li a:hover::after {
	top: 0;
	right: 0;
}

#about ul.accordian li a:hover {
	color: #ffffff;
}

#about ul.accordian > li > div *:not(h4) {
	opacity: 0;
	transition: all 0.5s ease-in-out;
}

#about ul.accordian > li > div {
	max-height: 90px;
	transition: all 0.5s ease-in-out;
}

#about #mzb-1:checked ~ ul > li:nth-child(1) {
	margin-bottom: 60px;

	border-bottom: 10px solid var(--accent);
	border-radius: 20px;
	transition: all 0.4s ease-in-out;
}

#about #mzb-2:checked ~ ul > li:nth-child(2),
#about #mzb-3:checked ~ ul > li:nth-child(3),
#about #mzb-4:checked ~ ul > li:nth-child(4),
#about #mzb-5:checked ~ ul > li:nth-child(5) {
	margin-top: 60px;
	margin-bottom: 60px;

	border-radius: 20px;
	border-bottom: 10px solid var(--accent);
	transition: all 0.4s ease-in-out;
}

#about #mzb-6:checked ~ ul > li:nth-child(6) {
	margin-top: 60px;

	border-bottom: 10px solid var(--accent);
	border-radius: 20px;
	transition: all 0.4s ease-in-out;
}

#about #mzb-1:checked ~ ul > li:nth-child(1) > div *:not(h4),
#about #mzb-2:checked ~ ul > li:nth-child(2) > div *:not(h4),
#about #mzb-3:checked ~ ul > li:nth-child(3) > div *:not(h4),
#about #mzb-4:checked ~ ul > li:nth-child(4) > div *:not(h4),
#about #mzb-5:checked ~ ul > li:nth-child(5) > div *:not(h4),
#about #mzb-6:checked ~ ul > li:nth-child(6) > div *:not(h4) {
	transition: all 0.3s ease-in-out;
	opacity: 1;
}

#about #mzb-1:checked ~ ul > li:nth-child(1)::after,
#about #mzb-2:checked ~ ul > li:nth-child(2)::after,
#about #mzb-3:checked ~ ul > li:nth-child(3)::after,
#about #mzb-4:checked ~ ul > li:nth-child(4)::after,
#about #mzb-5:checked ~ ul > li:nth-child(5)::after,
#about #mzb-6:checked ~ ul > li:nth-child(6)::after {
	backdrop-filter: grayscale(0%);
	transition: all 0.3s ease-in-out;
}

#about #mzb-1:checked ~ ul > li:nth-child(1) > div,
#about #mzb-2:checked ~ ul > li:nth-child(2) > div,
#about #mzb-3:checked ~ ul > li:nth-child(3) > div,
#about #mzb-4:checked ~ ul > li:nth-child(4) > div,
#about #mzb-5:checked ~ ul > li:nth-child(5) > div,
#about #mzb-6:checked ~ ul > li:nth-child(6) > div {
	background: #ffffff;
	max-height: 800px;
	/* If adding content text longer than the third item in demo, increase the max-height value so it fits properly on mobile devices. */
	transition: all 0.5s ease-in-out;
	transition-delay: 0.1s;
}

#about #mzb-1:checked ~ ul > li:nth-child(1) > label,
#about #mzb-2:checked ~ ul > li:nth-child(2) > label,
#about #mzb-3:checked ~ ul > li:nth-child(3) > label,
#about #mzb-4:checked ~ ul > li:nth-child(4) > label,
#about #mzb-5:checked ~ ul > li:nth-child(5) > label,
#about #mzb-6:checked ~ ul > li:nth-child(6) > label {
	display: none;
}

#about #mzb-1:checked ~ ul > li:nth-child(1) > svg,
#about #mzb-2:checked ~ ul > li:nth-child(2) > svg,
#about #mzb-3:checked ~ ul > li:nth-child(3) > svg,
#about #mzb-4:checked ~ ul > li:nth-child(4) > svg,
#about #mzb-5:checked ~ ul > li:nth-child(5) > svg,
#about #mzb-6:checked ~ ul > li:nth-child(6) > svg {
	transform: rotateZ(180deg) translateY(3px);
	fill: #ffffff;
	transition: all 0.5s ease-in-out;
}

#about #mzb-1:checked ~ ul > li:nth-child(1) > div > h4,
#about #mzb-2:checked ~ ul > li:nth-child(2) > div > h4,
#about #mzb-3:checked ~ ul > li:nth-child(3) > div > h4,
#about #mzb-4:checked ~ ul > li:nth-child(4) > div > h4,
#about #mzb-5:checked ~ ul > li:nth-child(5) > div > h4,
#about #mzb-6:checked ~ ul > li:nth-child(6) > div > h4 {
	margin-right: 0px;
	transition: all 0.5s ease-in-out;
}

#about #mzb-3:checked ~ ul > li:nth-child(3) > div > h4,
#about #mzb-5:checked ~ ul > li:nth-child(5) > div > h4 {
	color: black;
	transition: all 0.5s ease-in-out;
}

#about #mzb-3:checked ~ ul > li:nth-child(3) > div > a:hover,
#about #mzb-5:checked ~ ul > li:nth-child(5) > div > a:hover {
	color: black;
}

#about #mzb-1:checked ~ ul > li:nth-child(1) > div > h4::after,
#about #mzb-2:checked ~ ul > li:nth-child(2) > div > h4::after,
#about #mzb-3:checked ~ ul > li:nth-child(3) > div > h4::after,
#about #mzb-4:checked ~ ul > li:nth-child(4) > div > h4::after,
#about #mzb-5:checked ~ ul > li:nth-child(5) > div > h4::after,
#about #mzb-6:checked ~ ul > li:nth-child(6) > div > h4::after {
	margin-right: 0;
	border-radius: 0 10px 10px 0;
	transition: all 0.5s ease-in-out;
}

@media (max-width: 1340px) {
	#about {
		margin: 0px;
	}
}

@media (max-width: 660px) {
	#about {
		padding: 25px;
	}
	#about ul li div h4 {
		font-size: 20pt;
		line-height: 30pt;
		color: #ffffff;
	}
	#about ul > li > div {
		max-height: 80px;
	}
	#about ul li svg {
		width: 30px;
		top: 45px;
	}
}

@media (max-width: 450px) {
	#about ul li label:hover ~ div h4 {
		padding-left: 0px;
		transition: all 0.2s ease-in-out;
	}
	#about ul li label:hover ~ div h4::before {
		margin-right: 1000px;
	}
	#about ul li div h4 {
		font-size: 16pt;
		line-height: 26pt;
		color: white;
	}
	#about ul > li > div {
		max-height: 75px;
	}
}

@media (max-width: 400px) {
	#about ul li svg {
		display: none;
	}
}







































#contact {position: relative; top: 0; width: 100%; height: 100vh; padding-top: 200px;}
#contact h2 {position: relative; display: block; top: 0; text-align: center; font-size: 36px;}
#contact ul {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 20px;}
#contact ul > li {float: left; position: relative; width: 280px; height: 300px; text-align: center; padding: 20px 0 20px 0; border-radius: 20px; box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);}
#contact ul > li i {font-size: 120px; display: block; top: 0; padding: 30px 0 60px 0;}
#contact ul > li p {font-size: 20px; display: inline-block; margin-left: 15px;}
#contact ul > li + li {margin-left: 40px;}


#footer {height: 30px; width: 100%; background-color: #333333; color: #ffffff; text-align: center; line-height: 28px;}










/*게시판리스트*/
#main.board {position: relative; top: 80px; left: 0; width: 100%; height: 1000px;}
#main h2 {position: relative; top: 0; left: 0; display: block; text-align: center; font-size: 28px; padding-top: 50px;}

#main table.list {position: relative; top: 50px; left: 50%; transform: translate(-50%, 0); width: 60%; height: 60%; border-radius: 10px; box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);}
#main table.list thead tr {position: relative; height: 50px; border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
#main table.list thead tr th:nth-child(1) {width: 10px;}
#main table.list thead tr th:nth-child(2) {width: 150px;}
#main table.list thead tr th:nth-child(3) {width: 20px;}
#main table.list thead tr th:nth-child(4) {width: 30px;}
#main table.list thead tr th:nth-child(5) {width: 10px;}

#main table.list tbody {position: relative; height: 100%; padding: right: 10px;}
#main table.list tbody tr {height: 30px; }
#main table.list tbody tr td {border-bottom: 1px solid rgba(0, 0, 0, 0.1); text-align: center; padding-right: 10px; padding-left: 10px;} 
#main table.list tbody tr td:nth-child(1) {width: 0.5%;}
#main table.list tbody tr td:nth-child(2) {width: 150px;}
#main table.list tbody tr td:nth-child(3) {width: 10%;}
#main table.list tbody tr td:nth-child(4) {width: 15%;}
#main table.list tbody tr td:nth-child(5) {width: 0.5%;}

#main div.button {position: relative; top: 7%; }
#main div.button button {position: relative; left: 75%; width: 100px; height: 35px; border: none; font-size: 16px; box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);}
#main div.button button a {position: relative; display: inline-block; height: 100%; width: 100%; line-height: 35px; }









/*글쓰기*/
#main.write {position: relative; top: 80px; left: 0; width: 100%; height: 1000px;}